<html layout:decorate="~{layout}">


<div layout:fragment="content" class="container my-3">
<div>
	<ul>
		<li>no operation <span th:text="${paging}?: _">no data</span></li>
	</ul>
</div>
	<div class="row my-3">
		<div class="col-6">
			<a class="btn btn-primary" th:href="@{/question/create}">질문 등록하기</a>
		</div>
		
		<div class="col-6">
		
			<form class="input-group" th:action="@{/question/list}" method="get">
				<input name="kw" type="text" class="form-control" th:value="${kw}">
				<button class="btn btn-outline-secondary" type="submit">찾기</button>
			</form>
		</div>
	</div>

<table class="table">
	<thead class="table-dark">
		<tr class="text-center">
			<th>번호</th>
			<th style="width:50%">제목</th>
			<th>글쓴이</th>
			<th>작성일시</th>
			<th>조회수</th>
		</tr>
	</thead>
	<tbody>
		<tr class="text-center" th:each="question : ${paging}">
			<td th:text="${paging.getTotalElements - (paging.number * paging.size) - questionStat.index}">
			
			<td class="text-start"><a th:href = "@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
				<span class="text-danger small ms-2" th:if="${question.answerCount > 0}" 
				th:text="${question.answerCount}"></span>
			</td>
			
			<td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
			 
			<td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
			
			<td th:text="${question.viewCount}">
		</tr>
	</tbody>
	</table>
	
	<!-- 페이징 처리 시작 -->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">
			
			<li class="page-item">
				<a class="page-link" th:href="@{/question/list(page=0, kw=${kw})}"> 
				처음
				</a>
			</li>
			<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				th:classappend="${page == paging.number} ? 'active'" 
				th:if="${page >= paging.number-5 && page <= paging.number+5 && page < paging.totalPages}"
				class="page-item">
				<a class="page-link" th:text="${page}" th:href="@{/question/list(page=${page}, kw=${kw})}"></a>
			</li>
			
			<li class="page-item">
				<a class="page-link" th:href="@{/question/list(page=${paging.totalPages-1}, kw=${kw})}">
					마지막
				</a>
			</li>
		</ul>
	</div>
	<!-- 페이징 처리 끝 -->
</div>

</html>